<div>
    <!-- Navbar -->
    <nav class="flex items-center justify-between p-2 rounded-lg bg-teal-200 shadow">
        <div>
            <h1 class="text-2xl font-bold cursor-grabbing">Chat</h1>
            <h1 class="cursor-grabbing">DashBoard <strong>&amp;</strong> Chat</h1>
        </div>
        <div class="relative w-30 h-20 overflow-hidden">
            <img src="assets/images/ChatBc.png" alt="Chat Background"
                class="w-full h-[115%] object-cover translate-y-[10%]">
        </div>
    </nav>
</div>
